
body {
  background-color: #f0f2f5;
  color:white
}



form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70dvh;
  height: 70dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 8px;
  /* background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  background: linear-gradient(to right, #6a11cb, #2575fc);
  box-shadow: 1px 1px 30px 10px rgb(99, 99, 206);
  border-radius: 8px;

}

@media(min-width: 200px) and (max-width: 470px){
  form{
    width: 50dvh;
  }
}
